<template name="gameHome">
    <h2>Game Master Home</h2>
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey darken-2">
                <div class="card-content white-text">
                    <span class="card-title">Current Games</span>
                    
                </div>
                <div class="card-action">
                    <a href="#" id="newGame">Create a Game</a>
                </div>
            </div>
        </div>
      </div>
      {{> newGameModal}}
</template>