<template name="newGameModal">
    <div id="newGameModal" class="modal">
        <div class="modal-content">
            <h4>New Game</h4>
            <div class="row">
                <div class="col s12 m6 l6 input-field">
                    <input type="text" class="gameName" id="gameName" />
                    <label for="gameName">Game Name</label>
                </div>
                <div class="s12 m6 l6">
                    <p>
                        <label>
                            <input type="checkbox" id="schedGame"/>
                            <span>Scheduled Game</span>
                        </label>
                    </p>
                </div>
            </div>
            {{#if $eq useSched true}}
                <hr>
                <h4>Set Schedule</h4>
                <div class="row">
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" class="datepicker" id="gameDate" />
                        <label for="gameDate">Game Date</label>
                    </div>
                    <div class="col s12 m6 l6 input-field">
                        <input type="text" class="timepicker" id="gameTime" />
                        <label for="gameTime">Game Time</label>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s6 m6 l6">
                    <a class="modal-close waves-effect waves-light btn left cancelNewGame orange">Cancel</a>
                </div>
                <div class="col s6 m6 l6">
                    <a class="waves-effect waves-light btn addNewGame green darken-2 right">Add Game</a>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>