<head>
  <title>Open Scavenger</title>

  <link id="favicon" rel="shortcut icon" type="image/png" href="./lib/assets/icons/Get My Logo no name with transparency.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link href="./lib/assets/milligram-dark.min.css" rel="stylesheet">
  <!-- <link href="./lib/assets/my-css.css" rel="stylesheet"> -->
</head>

<body>
    
</body>
