<template name="headerBar">
  <div class="header">
    <a href="#default" class="logo">Open Scavenger</a>
    <div class="header-right">
      {{#if currentUser}}
        {{#if isInRole 'systemadmin'}}
        <div class="dropdown">
          <button class="dropbtn">Admin Info<i class="fa fa-caret-down"></i></button>
          <div class="dropdown-content">
            <a href="#" class="navBtn" id="adminInfo">Admin Info</a>
            <a href="#" class="navBtn" id="userMgmt">User Management</a>
            <a href="#" class="navBtn" id="systemSettings">System Settings</a>
            <a href="#" class="navBtn" id="emailSetup">SMTP Setup</a>
          </div>
        </div>
        {{/if}}

        {{#if isInRole 'systemadmin,game-master'}}
        <div class="dropdown">
          <button class="dropbtn">Game Control
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="navBtn" id="createGame">Create New Game</a>
            <a href="#" class="navBtn" id="viewMyGames">View My Games</a>
            <a href="#" class="navBtn" id="expiredGames">View Expired Games</a>
            <a href="#" class="navBtn" id="gameTemplates">Game Templates</a>
          </div>
        </div>
        {{/if}}

        {{#if isInRole 'systemadmin,game-master,team-captain,team-member'}}
        <div class="dropdown">
          <button class="dropbtn">Games
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="navBtn" id="joinGame">Join Game</a>
            <a href="#" class="navBtn" id="viewInProgressGames">View Live Games</a>
            <a href="#" class="navBtn" id="ViewScheduledGames">View Scheduled Games</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">My Info
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="navBtn" id="myProfile">Profile</a>
            <a href="#" class="navBtn" id="preferences">Preferences</a>
            <a href='#!' id="logout" class="signOut">Sign Out</a>
          </div>
        </div>
        {{/if}}
      {{else}}
      <a href="#!" id="login" class="navBtn">Sign In</a>
      {{/if}}
    </div>
  </div> 
  <!-- <header id='header' class="header">
    <span class='nav-heading nav-brand' id="brandLogo">Open Scavenger </span>
    <input type='checkbox' class='menu-toggle' id='menu-toggle'>
    <nav class='header'>
      {{#if currentUser}}
      <ul>
        {{#if isInRole 'systemadmin'}}
          <li><a href='#!' id="adminInfo" class="navBtn">Admin Info</a></li>
        {{/if}}
        {{#if isInRole 'systemadmin,game-master'}}
          <li><a href='#!' id="createGames" class="navBtn">Create Games</a></li>
          <li><a href='#!' id="controlGames" class="navBtn">Control Games</a> </li>
        {{/if}}
        {{#if isInRole 'systemadmin,game-master,team-captain,team-member'}}
          <li class="dropdown">
            <button class="dropbtn">Dropdown
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </div>
          </li>
          <li><a href='#!' id="myInfo" class="navBtn">My Info</a></li>
          <li><a href="#!" id="gamePlay" class="navBtn">Games</a></li>
        {{/if}}
        <li><a href='#!' id="logout" class="signOut">Sign Out</a></li>
      </ul>
      {{else}}
      <ul>
        <li><a href="#!" id="login" class="navBtn">Sign In</a></li>
      </ul>
      {{/if}}
    </nav>
    <label for='menu-toggle' class='menu-nav-toggle'>
      <span> </span>
    </label>
  </header> -->
</template>