<template name="myModal">
    <div id="genModal" class="modal">
        <div class="modal-content">
            <h4>{{modalHeader}}</h4>
            <div class="modal-actions">
                <a href="#" id="cancel" class="modal-close waves-effect waves-orange btn-flat white-text">Cancel</a>
                <a href="#" id="continue" class="waves-effect waves-green btn-flat white-text">Continue</a>
            </div>
        </div>
    </div>
</template>