<template name="myProfile">
    <div id="myProfileForm">
        <div class="row">
            <div class="column">
                <div align="center">
                    <div class="card mid-card">
                        <h4>My Profile</h4>
                        {{#each myInfo}}
                        <div class="row">
                            <div class="column">
                                <span>Name</span>
                                {{#if $eq editNameCancel true}}
                                    <i class="fa fa-times clickable" id="editNameCancel"></i>
                                {{/if}}
                                {{#if $eq editNameSave true}}
                                    <i class="fa fa-check clickable" id="saveMyName"></i>
                                {{/if}}
                            </div>
                            <div class="column">
                                {{#if $eq nameEdit false}}
                                    <i class="fa fa-pencil clickable" id="editMyName"></i> {{myName}}
                                {{else}}
                                    <input type="text" class="enterName" id="enterName" value="{{myName}}" />
                                {{/if}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <span>Email</span>
                                {{#if $eq editEmailCancel true}}
                                    <i class="fa fa-times clickable" id="editEmailCancel"></i>
                                {{/if}}
                                {{#if $eq editEmailSave true}}
                                    <i class="fa fa-check clickable" id="saveMyEmail"></i>
                                {{/if}}
                            </div>
                            <div class="column">
                                
                                {{#if $eq emailEdit false}}
                                    {{#if $eq canEditEmail true}}
                                    <i class="fa fa-pencil clickable" id="editMyEmail"></i>{{/if}} {{myEmail}}
                                {{else}}
                                     <input type="email" class="enterEmail" id="enterEmail" value="{{myEmail}}" />
                                {{/if}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <label>Old Password</label>
                            </div>
                            <div class="column">
                                <input type="password" class="origPass" id="origPass" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <label>Update Password</label>
                            </div>
                            <div class="column">
                                <input type="password" class="newPass" id="newPass" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <label>Confirm Password</label>
                            </div>
                            <div class="column">
                                <input type="password" class="newPassConf" id="newPassConf" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <button class="button button-green" id="updatePassword">Update Password</button>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>