<template name="systemSettings">
    <div class="row">
        <div class="column">
            <h2>System Settings</h2>
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="column">
                            <input type="checkbox" id="allowReg"
                                checked="{{#if $eq currSettings.allowReg true}}checked{{/if}}" />
                            <label class="label-inline" for="allowReg">Allow Registration</label>
                        </div>
                        <div class="column">
                            <input type="checkbox" id="allowEmailChange"
                                checked="{{#if $eq currSettings.changeEmail true}}checked{{/if}}" />
                            <label class="label-inline" for="allowEmailChange">Allow Email Change</label>
                        </div>
                        <div class="column">
                            <input type="checkbox" id="requireEmailVerification"
                                checked="{{#if $eq currSettings.emailVer true}}checked{{/if}}" />
                            <label class="label-inline" for="requireEmailVerification">Require Email
                                Verifications</label>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <button class="button button-blue saveSysSettings">Save</button>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>