<template name="addUserManually">
    <div class="modal" id="addUserMan">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="row">
                <div class="column">
                    <h4>Add User</h4>
                </div>
            </div>
            {{#if $eq missingRequired true}}
            <div class="row" style="background: red; color: yellow;">
                <div class="column">
                    Required Information is Missing!
                </div>
            </div>
            {{/if}}
            <div class="row">
                <div class="column">
                    <label for="fullUserName">Full Name *</label>
                    <input type="text" class="fullUserName" id="fullUserName" style="{{#if $eq missingName true}}border: 2px solid red;{{/if}}" />
                </div>
                <div class="column">
                    <label for="fullEmail">Email *</label>
                    <input type="email" class="fullEmail" id="fullEmail" style="{{#if $eq missingEmail true}}border: 2px solid red;{{/if}}" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="userPass">Password *</label>
                    <input type="password" class="userPass" id="userPass" style="{{#if $eq missingPassword true}}border: 2px solid red;{{/if}} {{#if $eq noMatch true}}background: orange;{{/if}}" />
                </div>
                <div class="column">
                    <label for="userPassConf">Confirm Password *</label>
                    <input type="password" class="userPassConf" id="userPassConf" style="{{#if $eq missingPasswordConfirm true}}border: 2px solid red;{{/if}} {{#if $eq noMatch true}}background: orange;{{/if}}" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="newUserRole">Assigned Role</label>
                    <select name="newUserRole" id="newUserRole" class="select">
                        <option value="" disabled selected></option>
                        <option value="systemadmin">System Admin</option>
                        <option value="game-master">Game Master</option>
                        <option value="team-captain">Team Captain</option>
                        <option value="team-member">Team Member</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    {{#each role in selRoles}}
                    <div class="chip">
                        {{role}}
                        <span class="closeBtn" id="{{role}}">&times;</span>
                    </div>
                    {{/each}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="column">
                    <button class="button button-orange" id="cancelNewUser">Cancel</button>
                </div>
                <div class="column">
                    <button class="button button-green right" id="saveNewUser">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>