<template name="userEditModal">
    <div id="userEditModal" class="modal">
        <div class="modal-content">
             <span class="close">&times;</span>
            <h4>Edit User</h4>
            {{#each userInfo}}
            <div class="row">
                <div class="column">
                    <label for="editFullName">Full Name</label>
                    <input type="text" class="editFullName" id="editFullName" value="{{fullName}}" />
                </div>
                <div class="column">
                    <label for="editEmail">Email</label>
                    <input type="email" class="editEmail" id="editEmail" value="{{userEmail}}" />
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="roleName">Role</label>
                    <select name="roleName" id="roleName" class="roleName">
                        <option value="{{userRole}}" disabled selected>{{userRole}}</option>
                        <option value="systemadmin">System Admin</option>
                        <option value="game-master">Game Master</option>
                        <option value="team-captain">Team Captain</option>
                        <option value="team-member">Team Member</option>
                    </select>
                </div>
                <div class="column">
                    <input type="checkbox" id="verifiedUser" checked="{{#if $eq isVerified true}}checked{{/if}}" />
                    <label class="label-inline" for="verifiedUser">Verified</label>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="column">
                    <button class="button button-orange cancelEditUser">Cancel</button>
                </div>
                <div class="column">
                    <button class="button button-green saveUserInfo right">Save Changes</button>
                </div>
            </div>
        </div>
        
    </div>
    {{> snackbar}}
</template>
