<template name="userMgmt">
    {{#if isInRole 'systemadmin'}}
    <div class="mg-container">
        <div class="row">
            <div class="column">
                <h3>User Management</h3>
            </div>
            <div class="column">
                <button class="button button-blue right" id="addUserManually"> + Add New User</button>
            </div>
        </div>
        
        <div class="row">
            <div class="column">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Verified</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userInfo}}
                            <tr>
                                <td>{{userName}}</td>
                                <td>{{#if $eq isVerified "Yes"}}<i class="material-icons">check</i>{{/if}}</td>
                                <td>{{userEmail}}</td>
                                <td>{{userRole}}</td>
                                <td>
                                    <div class="input-field">
                                        <i class="material-icons clickable deleteUser">delete</i>
                                        <i class="material-icons clickable editUser">edit</i>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        {{> userEditModal}}
        {{> deleteConfirmationModal}}
        {{> addUserManually}}
    {{/if}}
</template>