<template name="gameSummaryCard">
    <h4>Summary of Game</h4>
    <div class="row">
        <div class="column">
            Game Name:
        </div>
        <div class="column">
            {{ gameInfo.gameName }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            Schedule Type:
        </div>
        <div class="column">
            {{gameInfo.gameSchedType }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            Number of Teams Allowed:
        </div>
        <div class="column">
            {{gameInfo.gameNoTeams }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            Registration Type:
        </div>
        <div class="column">
            {{ gameInfo.gameRegType }}
        </div>
    </div>
</template>