<template name="gameRegistrationType">
    <div class="row">
        <div class="column">
            <label for="regType">Registration Type</label>
            <select name="regType" id="regType">
                <option value="" disabled selected>Choose one...</option>
                <option value="open">Open Registration</option>
                <option value="inviteOnly">Invite Only</option>
            </select>
        </div>
    </div>
</template>