<template name="gameSchedulteType">
    <div class="row">
        <div class="column">
            <label for="scheduleType">Schedule Game?</label>
            <select name="schedType" id="schedType">
                <option value="" disabled selected>Choose one...</option>
                <option value="scheduleGame">Schedule a Date / Time for a Game</option>
                <option value="unscheduled">Unscheduled</option>
                <option value="scheduleLater">Schedule Later</option>
            </select>
        </div>
    </div>
</template>