<template name="gameSchedDateTime">
    <div class="row">
        <div class="column">
            <label for="gameDate">Game Date</label>
            <input type="date" id="gameDate" class="datePicker" />
        </div>
        <div class="column">
            <label for="gameTime">Game Time</label>
            <input type="time" id="gameTime" class="timePicker" />
        </div>
    </div>
</template>