<template name="gameNumberTeams">
    <div class="row">
        <div class="column">
            <label for="noTeams">Game Team Limit (set 0 for no limit)</label>
            <input type="number" class="noTeams" id="noTeams" />
        </div>
    </div>
</template>