<template name="gameWizard">
    <h4>Create a New Game</h4>
    <div class="row">
        <div class="column">
            {{#if $neq step 1}}
                <h5>Creating {{gameInfo.gameName}}</h5>
            {{/if}}
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="column">
                            {{#if $eq step 1}}
                                {{> gameNameCard}}
                            {{/if}}
                            {{#if $eq step 2}}
                                {{> gameSchedulteType}}
                                {{#if $eq scheduleType "scheduleGame"}}
                                    {{> gameSchedDateTime}}
                                {{/if}}
                            {{/if}}          
                            {{#if $eq step 3}}
                                {{> gameNumberTeams}}
                            {{/if}}         
                            {{#if $eq step 4}}
                                {{> gameRegistrationType}}
                            {{/if}}            
                            {{#if $eq step 5}}
                                {{> gameSummaryCard}}
                            {{/if}}
                        </div>
                    </div>            
                </div>
                <div class="card-actions">
                    <div class="row">
                        <div class="column">
                            {{#if noBackStep}}
                                <button class="button button-ornage" id="goBack">Back</button>
                            {{/if}}
                        </div>
                        <div class="column">
                            {{#if $neq step 5}}
                                <button class="button button-green right" id="nextStep">Next</button>
                            {{else}}
                                <button class="button button-blue  right saveNewGame" id="saveNewGame">Save</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>
