<template name="adminInfo">
    {{#if isInRole 'systemadmin'}}
    <h3>Admin Information</h3>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="column">
                            <h4>Registered Users</h4>
                            <h3>{{regUserCount}}</h3>
                        </div>
                        <div class="column">
                            <h4>Verified Users</h4>
                            <h3>{{verUserCount}}</h3>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <button class="button button-outline route_action" id="userMgmt">Manage Users</button>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h4>System Settings</h4>
                <div class="card-content">
                    <div class="row">
                        <div class="column">
                            {{#if $eq currSettings.allowReg true}}<i class="material-icons">check</i>{{/if}} Allow
                            Registration
                        </div>
                        <div class="column">
                            {{#if $eq currSettings.changeEmail true}}<i class="material-icons">check</i>{{/if}} Allow
                            Email Change
                        </div>
                        <div class="column">
                            {{#if $eq currSettings.emailVer true}}<i class="material-icons">check</i>{{/if}} Email
                            Verificatioin
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <button class="button button-outline route_action" id="systemSettings">System Settings</button>
                    <button class="button button-outline route_action" id="emailSetup">Email SMTP Setup</button>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h3>Permission Denied</h3>
    <p>You do not appear to have the necessary permissions to view this page. If you believe this is an error, please
        let the system administrator know immediately.</p>
    {{/if}}
</template>