<template name="login">
    {{#if $not currentUser}}
    <div id="signInForm">
        <div class="row">
            <div class="column">
                <div align="center">
                    <div class="card mid-card">
                        <h4>Login</h4>
                        <div class="card-content">
                            <form class="login">
                                <div class="row">
                                    <div class="column">
                                        <label for="email">Email *</label>
                                        <input type="email" name="email" id="email"
                                            class="email {{#if $eq misEmail true}}missing-info{{/if}}" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <label for="password">Password *</label>
                                        <input type="password" name="password" id="password"
                                            class="password {{#if $eq misPass true}}missing-info{{/if}}" />
                                    </div>
                                </div>
                                {{#if $eq areFilled false}}
                                <div class="row">
                                    <div class="column">
                                        <span>You must fill all fields to login.</span>
                                    </div>
                                </div>
                                {{/if}}
                                <div class="row">
                                    <div class="column">
                                        <button class="button-green" id="logmein">Sign In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{#if $eq allowReg true}}
                        <div class="card-action">
                            <a href="#" id="reg">Register</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>