<template name="deleteConfirmationModal">
    <div id="modalDelete" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="row">
                <div class="column">
                    <h4>Delete Confirmation</h4>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <p>You are about to permanently delete <strong>{{itemName}}</strong> from the <strong>{{viewName}}</strong> list. Are you sure?</p>
                </div>
            </div> 
            <div class="row">
                <div class="column">
                    <button class="button button-orange cancelDelete">Cancel</button>
                </div>
                <div class="column">
                    <button class="button button-green confirmDelete right">Delete</button>
                </div>
            </div>
        </div>
        
    </div>
</template>