<template name="emailSetup">
    <div class="mg-container">
        <h4>EMail / SMTP Setup</h4>
        <p>This is where you need to setup the SMTP settings for your email service or server.</p>
        <div class="row">
            <div class="column">
                <label for="emailHost">SMTP Host</label>
                <input type="text" id="emailHost" value="{{smtpInfo.host}}" />
            </div>
            <div class="column">
                <label for="emailPort">SMTP Port</label>
                <input type="text" id="emailPort" value="{{smtpInfo.port}}" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="emailUser">Email Username</label>
                <input type="text" id="emailUser" value="{{smtpInfo.emailUser}}"/>
            </div>
            <div class="column">
                <label for="emailPass">Email Password</label>
                <input type="password" id="emailPass" />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <button class="button button-orange" id="cancelEmailEntry">Cancel</button>
            </div>
            <div class="column">
                <button class="button button-green right" id="saveEmailEntry">Save</button>
            </div>
        </div>
    </div>
    {{> snackbar}}
</template>